body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.background-image {
    background-image: url('C:/Users/sravy/OneDrive/Desktop/CODING RAJA/To_do/to_do image4.png'); /* Replace 'background.jpg' with your background image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgb(106, 112, 112);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(250, 248, 248);
}

h1 {
    text-align: center;
    color: #070609;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #171515;
}

li:last-child {
    border-bottom: none;
}

.delete-button {
    background-color: #f44336;
}
